<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>

</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <p id="id" th:text="${id}"></p>
    <div class="container">
        <div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <td id="title"></td>
                </tr>
                <tr>
                    <td id="category"></td>
                    <td th:value="${authUser.getUser().getName()}"></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="contents"></td>
                </tr>
                </tbody>
            </table>
            <div>
                <img id="file-name" onerror="this.parentNode.style.display='none'"/>
            </div>
        </div>
        <br/>
        <div class="footer-button">
            <button class="btn btn-primary" onclick="window.location.href='/';" type="button">목록으로</button>
            <button class="btn btn-warning" onclick="goUpdate();" type="button">수정</button>
            <button class="btn btn-danger" onclick="PostService.delete();" type="button">삭제</button>
        </div>
    </div>
<script src="/js/commonUtil.js"></script>
<script src="/js/postService.js"></script>
<script>
    var id = $('#id').html();
    $(document).ready(function () {
        PostService.detail(id);
    })

    function goUpdate() {
        location.href = '/posts/update/' + id;
    }
</script>
</body>
</html>