<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div>
        <p id="id" th:text="${id}"></p>
        <h3 id="title"></h3>
        <h4 id="category"></h4>
    </div>
    <p id="contents"></p>
</div>
<img id="file-name"/>
</div>
<button class="btn btn-primary" onclick="window.location.href='/';" type="button">목록으로</button>
<button class="btn btn-primary" onclick="window.location.href='/post/update';" type="button">수정</button>
<script src="/js/postService.js"></script>
<script>
    var id = $('#id').html();
    $(document).ready(function () {
        PostService.detail(id);
    })
</script>
</body>
</html>