<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>게시물 리스트</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class="list-area">
        <table class="table">
            <thead class="thead-dark">
            <th>#</th>
            <th>제목</th>
            <th>작성자</th>
            <th>카테고리</th>
            <th>시간</th>
            </thead>
            <tbody id="list-tbody"></tbody>
        </table>
    </div>
    <div class="pagination-area2" style="text-align: center;"></div>
    <div class="list-footer-area">
        <button class="btn btn-primary" onclick="location.href='/posts/create'" type="button">글쓰러가기</button>
    </div>
</div>


<script src="/js/postService.js"></script>
<script>
    $(document).ready(function () {
        PostService.getList();
    })
</script>
</body>
</html>