<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminLteHeader :: adminLteHeader"></head>
<link href="/js/dropzone/dropzone.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="wrapper">
    <div th:replace="fragments/sidebar :: sidebar"/>
    <div th:replace="fragments/adminLteBodyHeader :: adminLteBodyHeader"/>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>글 생성</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="create">
                        <div class="form-group">
                            <label>제목</label>
                            <input class="form-control" id="title" placeholder="제목을 지어주세요" type="text">
                        </div>
                        <div class="form-group">
                            <label>작성자</label>
                            <input class="form-control" id="author" readonly th:value="${authUser.getUser().getName()}"
                                   type="text">
                    </div>
                    <div class="form-group">
                        <label for="contents"></label>
                        <textarea class="form-control rounded-0" id="contents" rows="10"></textarea>
                    </div>
                        <div class="form-group">
                            <label>카테고리</label>
                            <select class="selectpicker" id="category">
                                <option value="humor">유머</option>
                                <option value="nomal">일반</option>
                            </select>
                        </div>

                        <div class="dropzone">
                            <div class="fallback"></div>
                            <label>첨부파일</label>
                            <form action="/api/upload" class="dropzone" enctype="multipart/form-data"
                                  id="my-awesome-dropzone" method="post" name="upload-form">
                                <input multiple name="attach-file" type="file"/>
                                <input onclick="PostService.upload();" type="button" value="upload">
                            </form>
                            <input id="file-name" type="hidden" value=""/>
                            <img id="profile-image"/>
                        </div>
                        <br/>
                        <a class="btn btn-secondary" href="/" role="button">취소</a>
                        <button class="btn btn-primary" id="create_button" onclick="PostService.save();" type="button">
                            등록
                        </button>
                        <br/>
                    </div>
                </div>
                <div class="col-md-12"></div>
            </div>
        </section>
    </div>
</div>
<script src="/js/commonUtil.js"></script>
<script src="/js/postService.js"></script>
<script src="/js/dropzone/dropzone.js"/>
<script>
    $(document).ready(function () {
        PostService.crateButtonbindEvent();
    });
    Dropzone.autoDiscover = false;
    $(document).ready(function () {
        $('#my-awesome-dropzone').dropzone({
            success: function (file, response) {
                toastr.success('File' + file.name + 'upload 성공');
            }
        })
    });

</script>
</body>
</html>