<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>

</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<input id="post-no" th:value="${id}" type="hidden"/>
<div class="container">
    <p id="id" th:text="${id}"></p>
        <div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <td id="title"></td>
                </tr>
                <tr>
                    <td id="category"></td>
                    <td th:value="${authUser.getUser().getName()}"></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="contents"></td>
                </tr>
                </tbody>
            </table>
            <div>
                <img id="file-name" onerror="this.parentNode.style.display='none'"/>
            </div>
        </div>
    <br/>
    <div class="footer-button">
        <button class="btn btn-primary" onclick="window.location.href='/';" type="button">목록으로</button>
        <button class="btn btn-warning" onclick="goUpdate();" type="button">수정</button>
        <button class="btn btn-danger" onclick="PostService.delete();" type="button">삭제</button>
    </div>
    <br/>
    <div class="comment-save-area">
        <div class="col-sm-10">
            <textarea class="form-control" id="comment" name="comment"></textarea>
            <button class="btn btn-primary" id="comment_button" onclick="CommentService.save()" type="submit">작성
            </button>
        </div>
    </div>

    <div class="comments-result-list">
        <table class="table">
            <thead>
            <tr>
                <td th:value="${authUser.getUser().getName()}"></td>
            </tr>
            </thead>
            <tbody id="comment-tbody"></tbody>
        </table>
    </div>
</div>
<script src="/js/commonUtil.js"></script>
<script src="/js/postService.js"></script>
<script src="/js/commnetService.js"></script>
<script>
    var id = $('#id').html();
    $(document).ready(function () {
        PostService.detail(id);
    })
    $(document).ready(function () {
        CommentService.bindEvent();
    })

    function goUpdate() {
        location.href = '/post/update/' + id;
    }
</script>
</body>
</html>