<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<input id="post-no" th:value="${post.id}" type="hidden"/>
<div class="container">
    <div>
        <div>
            <table class="table">
                <tbody>
                <tr>
                    <th>제목</th>
                    <td id="title" th:text="${post.title}"></td>
                </tr>
                <tr>
                    <th>카테고리</th>
                    <td id="category" th:text="${post.category}"></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td id="author" th:text="${post.author}"></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td id="post-contents" th:text="${post.contents}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <img id="file-name" onerror="this.parentNode.style.display='none'"/>
        </div>
    </div>
    <br/>
    <div class="footer-button">
        <button class="btn btn-primary" onclick="window.location.href='/posts';" type="button">목록으로</button>
        <button class="btn btn-warning" onclick="goUpdate($('#post-no').val());" type="button">수정</button>
        <button class="btn btn-danger" onclick="PostService.delete($('#post-no').val());" type="button">삭제</button>
    </div>
    <br/>
    <div class="comment-save-area">
        <div class="col-sm-10">
            <textarea class="form-control" id="contents" name="comments"></textarea>
            <span><button class="btn btn-primary" id="comment_button" onclick="CommentService.save()"
                          type="submit">댓글작성</button></span>
        </div>
    </div>

    <div class="comments-result-list">
        <ul>
            <li th:each="comment : ${commentList}">
                <div>
                    <span id="commenter_name" th:text="${comment.user.name}"></span>
                    <span>시간</span>
                </div>
                <div th:text="${comment.contents}"></div>
            </li>
        </ul>
    </div>
</div>
<script src="/js/commonUtil.js"></script>
<script src="/js/postService.js"></script>
<script src="/js/commnetService.js"></script>
<script>
    function goUpdate(postId) {
        location.href = '/posts/' + postId + '/update';
    }
</script>
</body>
</html>