<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class="list-area">
        <table>
            <thead>
            <th>#</th>
            <th>제목</th>
            <th>작성자</th>
            <th>시간</th>
            </thead>
            <tbody id="list-tbody"></tbody>
        </table>
    </div>
</div>

<script src="/js/postService.js"></script>
</body>
</html>