<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminLteHeader :: adminLteHeader"></head>
<title>게시물 리스트</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="wrapper">
    <div th:replace="fragments/sidebar :: sidebar"/>
    <div th:replace="fragments/adminLteBodyHeader :: adminLteBodyHeader"/>
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card-header">
                        <h3 class="card-title">전체 글 리스트</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <select id="search-type" name="search-type">
                                    <option value="title">제목</option>
                                    <option value="author">작성자</option>
                                    <option value="contents">내용</option>
                                </select>
                                <input class="form-control float-right" id="search-keyword" name="search-keyword"
                                       placeholder="Search" type="text"/>
                                <div class="input-group-append">
                                    <button class="btn btn-default" id="search-btn" type="button">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <th scope="row">#</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>카테고리</th>
                        <th>시간</th>
                        </thead>
                        <tbody id="list-tbody"></tbody>
                    </table>
                </div>
                </div>
                <div class="pagination-area2" style="text-align: center;"></div>
                <div class="list-footer-area">
                    <button class="btn btn-primary" onclick="location.href='/posts/create'" type="button">글쓰러가기</button>
                </div>
            </div>
        </section>
</div>
</div>
</div>

<script src="/AdminLTE-3.0.5/plugins/jquery-ui/jquery-ui.min.js"></script>

<script src="/js/commonUtil.js"></script>
<script src="/js/postService.js"></script>


<script>
    $(document).ready(function () {
        PostService.getList();
        $('#search-btn').on('click', function () {
            PostService.search();
        });

        $('#search-keyword').on('keydown', function (e) {
            console.log(e.keyCode);
            if (e.keyCode == 13) {
                PostService.search();
            }
        });
    })
</script>

</body>
</html>