<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminLteHeader :: adminLteHeader"></head>
<title>게시물 리스트</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div th:replace="fragments/adminLteBodyHeader :: adminLteBodyHeader"/>
<div th:replace="fragments/sidebar :: sidebar"/>
<div class="content-wrapper" style="min-height: 1504px;">
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card-header">
                    <h3 class="card-title">전체 글 리스트</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 170px;">
                            <input class="form-control float-right" name="table_search" placeholder="Search"
                                   type="text">
                            <div class="input-group-append">
                                <button class="btn btn-default" type="submit">
                                    <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <th scope="row" style="width: 1px">#</th>
                        <th style="width: 10px;">제목</th>
                        <th style="width: 10px;">작성자</th>
                        <th style="width: 10px;">카테고리</th>
                        <th style="width: 10px;">시간</th>
                        </thead>
                        <tbody id="list-tbody"></tbody>
                    </table>
                </div>
                </div>
                <div class="pagination-area2" style="text-align: center;"></div>
                <div class="list-footer-area">
                    <button class="btn btn-primary" onclick="location.href='/posts/create'" type="button">글쓰러가기</button>
                </div>
            </div>

        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        PostService.getList();
    })
</script>
<script src="/js/commonUtil.js"></script>
<script src="/js/postService.js"></script>
<script src="AdminLTE-3.0.5/plugins/jquery/jquery.min.js"></script>
<script src="AdminLTE-3.0.5/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
</body>
</html>