<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>회원 상세</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="list-area">
        <table class="table table-striped">
            <tr>
                <th>회원번호</th>
                <td id="id" th:text="${id}"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td id="name"></td>
            </tr>
            <tr>
                <th>아이디</th>
                <td id="username"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td id="email"></td>
            </tr>
            <tr>
                <th>생년</th>
                <td id="birth-year"></td>
            </tr>
            <tr>
                <th>성별</th>
                <td id="gender"></td>
            </tr>
            <tr>
                <th>프로필사진</th>
                <td><img id="profile-image" src=""/></td>
            </tr>
        </table>
    </div>
    <input onclick="location.href='/users';" type="button" value="목록"/>
    <input class="btn btn-warning" onclick="goUpdate();" type="button" value="수정"/>
    <input class="btn btn-danger" onclick="UserService.delete()" type="button" value="삭제"/>
<input id="" type="hidden">
<script src="/js/commonUtil.js"></script>
<script src="/js/userService.js"></script>

<script>
    var id = $('#id').html();
    $(document).ready(function () {
        UserService.getDetail(id);
    });

    function goUpdate() {
        location.href = '/users/update/' + id;
    }
</script>
</body>
</html>