<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>간단한 게시판</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class="board-area">
        <div class="menu-area">
            <div class="category-area"></div>
            <div class="view-type-area"></div>
        </div>
        <div class="list-area">
            <table class="table table-striped">
                <thead>
                <th>회원번호</th>
                <th>회원아이디</th>
                <th>회원이름</th>
                <th>회원이메일</th>
                <th>회원생년</th>
                <th>회원성별</th>
                </thead>
                <tbody id="list-tbody"></tbody>
            </table>
        </div>
        <div class="create-area">

        </div>
        <div class="search-area"><select class="selectpicker" id="search-type">
            <option value="loginId">회원아이디</option>
            <option value="name">회원이름</option>
            <option value="email">회원이메일</option>
        </select>
            <input aria-label="Search" class="form-control mr-sm-2" id="search-keyword" placeholder="Search"
                   type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" id="search-button" onclick="UserService.search();"
                    style="width: 100px; height: 50px;" type="button">Search
            </button>
        </div>
        <div class="pagination-area"></div>

    </div>
</div>
<script src="/js/userService.js"></script>
<script>
    $(document).ready(function () {
        UserService.getUserList();
    });
</script>
</body>
</html>