<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>회원 관리</title>
    <script src="/js/jquery-3.5.1.min.js"></script>

    <!--    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />-->
    <!--    <link href="/css/jumbotron-narrow.css" rel="stylesheet" />-->

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="board-area">
        <div class="menu-area">
            <div class="category-area"></div>
            <div class="view-type-area"></div>
        </div>
        <div class="list-area">
            <table class="table table-striped">
                <thead>
                <th>회원번호</th>
                <th>회원아이디</th>
                <th>회원이름</th>
                <th>회원이메일</th>
                <th>회원생년</th>
                <th>회원성별</th>
                </thead>
                <tbody id="list-tbody">

                </tbody>
            </table>
        </div>
        <div class="search-area"><input id="search_keyword" name="search_keyword" type="text" value=""/> <input
                id="search_button" onclick="UserService.search();" type="button" value="검색"/></div>
        <div class="pagination-area">
            [맨처음] [이전] [1] [2] [3] [4] [5] [다음] [맨마지막]
        </div>
    </div>
</div>
<script>
    UserService = {
        config: {
            PAGES_PER_BLOCK: 5
        }
        ,
        getUserList: function (_page) {
            if (_page == undefined || _page == null) {
                _page = 0;
            }
            $.ajax({
                url: "/api/users",
                context: window.UserService,
                data: {
                    page: _page
                }
            })
                .done(function (res) {
                    let userList = res.content;
                    if (userList == undefined || userList == null) {
                        $('#list-tbody').html('<tr><td colspan="6">회원이 아무도 등록되어있지 않습니다.</td></tr>');
                        return;
                    }
                    this.renderPagination(res.totalPages, res.pageable.pageNumber, res.size, res.totalElements);
                    this.renderList(userList);
                })
            ;
        },

        renderPagination: function (totalPage, _crrentPage, size, totalElements) {
            let crrentPage = _crrentPage + 1;
            let currentBlock = Math.ceil(crrentPage / this.config.PAGES_PER_BLOCK);
            let startPageOfBlock = Math.ceil((currentBlock - 1) * this.config.PAGES_PER_BLOCK) + 1;
            let totalBlock = Math.ceil(totalElements / size / this.config.PAGES_PER_BLOCK);
            let isLastBlock = (currentBlock == totalBlock);
            let isFirstBlock = (currentBlock == 1);
            let paginationString = '';
            let lastPageOfBlock = currentBlock * this.config.PAGES_PER_BLOCK;
            let firstPageOfNextBlock = lastPageOfBlock + 1;
            let firstPageOfPrevBlock = (currentBlock - 2) * this.config.PAGES_PER_BLOCK + 1;

            // 마지막 블록이면
            // let loopCount = 16 % 5 = 1
            // 아니면
            // loopCount = PAGES_PER_BLOCK

            let loopCount = (isLastBlock) ? (totalPage % this.config.PAGES_PER_BLOCK) : this.config.PAGES_PER_BLOCK;
            let lessThanMinBlock = (totalElements <= (this.config.PAGES_PER_BLOCK - 1) * size);
            loopCount = (isFirstBlock && lessThanMinBlock) ? totalPage : loopCount;

            if (isFirstBlock == false) paginationString += '<span onclick="UserService.getUserList(' + firstPageOfPrevBlock + ')" style="cursor:pointer;" >[이전]</span>';


            for (let i = 0, j = startPageOfBlock; i < loopCount; i++, j++) {
                let styleBold = (crrentPage == j) ? 'font-weight: bold' : '';
                paginationString += '<span onclick="UserService.getUserList(' + j + ')" style="cursor:pointer; ' + styleBold + '">' + ' [' + j + ']</span>';
            }
            if (isLastBlock == false) paginationString += '<span onclick="UserService.getUserList(' + firstPageOfNextBlock + ')" style="cursor:pointer;" >[다음]</span>';
            $('.pagination-area').html(paginationString);
        },
        search: function () {
            let searchKeyword = $('#search_keyword').val();

            $.ajax({
                url: "/api/users",
                context: window.UserService,
                data: {
                    search_keyword: searchKeyword
                }
            })
                .done(function (res) {
                    let userList = res.content;
                    if (userList == undefined || userList == null) {
                        $('#list-tbody').html('<tr><td colspan="6">검색 결과가 없습니다</td></tr>');
                        return;
                    }
                    this.renderList(userList);
                })
            ;
        },
        renderList: function (userList) {
            let rowHtml = '';

            for (let i = 0; i < userList.length; i++) {
                let genderString = (userList[i].gender == 'M') ? '남' : '여';
                rowHtml += '<tr>';
                rowHtml += '\t<td>' + userList[i].id + '</td>';
                rowHtml += '\t<td>' + userList[i].loginId + '</td>';
                rowHtml += '\t<td>' + userList[i].name + '</td>';
                rowHtml += '\t<td>' + userList[i].email + '</td>';
                rowHtml += '\t<td>' + userList[i].birthYear + '년</td>';
                rowHtml += '\t<td>' + genderString + '</td>';
                rowHtml += '</tr>';
            }
            $('#list-tbody').html(rowHtml);
        }
    };
    $(document).ready(function () {
        UserService.getUserList();
    });
</script>
</body>
</html>