<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>회원 상세</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="list-area">
        <table class="table table-striped">
            <tr>
                <th>회원번호</th>
                <td id="id" th:text="${id}"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td><input id="name" type="text"></td>
            </tr>
            <tr>
                <th>아이디</th>
                <td><input id="username" type="text"></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td><input id="password" type="password"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td><input id="email" type="text"></td>
            </tr>
            <tr>
                <th>생년</th>
                <td><input id="birth-year" type="text"></td>
            </tr>
            <tr>
                <th>성별</th>
                <td><select class="selectpicker" id="gender">
                    <option value="M">남자</option>
                    <option value="F">여자</option>
                </select>
                </td>
            </tr>
            <tr>
                <th>프로필사진</th>
                <td>
                    <form action="/api/upload" enctype="multipart/form-data" id="upload-form" method="post"
                          name="upload-form">
                        <input name="attach-file" type="file">
                        <input onclick="UserService.upload();" type="button" value="upload">
                    </form>
                    <input id="file-name" type="hidden" value=""/>
                    <div class="select-img">
                        <img id="profile-image"/>
                    </div>
                </td>
            </tr>
        </table>
    <input onclick="location.href='/users';" type="button" value="목록"/>
    <input onclick="UserService.update();" type="button" value="수정완료"/>
</div>
<input id="" type="hidden">
<script src="/js/commonUtil.js"></script>
<script src="/js/userService.js"></script>

<script>
    var id = $('#id').html();
    $(document).ready(function () {
        UserService.getUpdateInfo(id);
    });
</script>
</body>
</html>