<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/api/upload" enctype="multipart/form-data" id="upload-form" method="post" name="upload-form">
    <input name="attach-file" type="file">
    <input onclick="upload();" type="button" value="upload">
</form>

<img id="upload-img">

<script>
    function upload(event) {
        let form = $('#upload-form')[0];
        let data = new FormData(form);
        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            data: data,
            url: '/api/upload',
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                $('#upload-img').attr('src', '/api/download?file-path=' + data);
            }
        })
    }
</script>
</body>
</html>