<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminLteHeader :: adminLteHeader"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <div th:replace="fragments/adminLteBodyHeader :: adminLteBodyHeader"></div>
    <div th:replace="fragments/sidebar :: sidebar"/>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Simple Board</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/posts">Home</a></li>
                            <li class="breadcrumb-item active">Simple Board v1</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                    <div class="card">
                        <div class="card-header ui-sortable-handle">
                            <div class="card-title">
                                <h3>유머 게시판</h3>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="nav nav-pills flex-column" th:each="humorList : ${humorList}">
                                <li class="nav-item active">
                                    <a class="nav-link" th:href="@{/posts/{id}(id=${humorList.id})}"
                                       th:text="${humorList.title}">
                                        <i class="fas fa-indox"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header ui-sortable-handle">
                            <div class="card-title">
                                <h3>일반 게시판</h3>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="nav nav-pills flex-column" th:each="nomalList : ${nomalList}">
                                <li class="nav-item active">
                                    <a class="nav-link" th:href="@{/posts/{id}(id=${nomalList.id})}"
                                       th:text="${nomalList.title}">
                                        <i class="fas fa-indox"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
</div>
<!-- jQuery -->
<script src="/AdminLTE-3.0.5/plugins/jquery/jquery.min.js"></script>
</body>
</html>
